@font-face {
    font-family: "Titillium-normal";
    font-style: normal;
    font-weight: 400;
    src: url("TitilliumWeb-Regular.ttf");
	}
	@font-face {
    font-family: "Titillium-regular";
    font-style: regular;
    font-weight: 200;
    src: url("TitilliumWeb-Regular.ttf");
	}
	
		#chart_div {
                            width: 100%; 
                            height: 100%;
                            opacity: 1.0;
                            border-style:solid;
                            border-color:#EF4E24;
                            border-top-width:0px;
                            border-left-width:0px;
                            border-right-width:0px;
                            border-bottom-width:0px;
                }

		

			
	#wrapch
	{
		position: relative;
		display: inline-block;	
		width: 100%;	
		margin-left: 0px;
        height: 100%;
		
	}